## Property Price Analysis/Visualization in London

### Introduction

When someone looks to move from one neighborhood to another in a major city, it can be assumed that they will usually look for neighborhoods similar/dissimilar to the one they have stayed in earlier. This can be a factor when deciding which neighborhood to move to. So, after retrieving property prices and relevant neighborhood data from Foursquare API, a system can be designed to cluster/classify neighborhoods and help the stakeholders decide on the best fit according to their preferences

### Data Section

To build this service, we make use of property prices data from propertydata.co.uk and Foursquare API for the other venue/amenity details. Combining both, we can make a dataset to compare the amenities/prices of individual neighborhoods and then cluster them based on similarity.

In [5]:
import numpy as np
import pandas as pd
import wikipedia as wiki

#### Area Codes

This is a sample of the area codes/neighborhoods of London

In [6]:
area_list = wiki.page("List of areas of London").html().encode("UTF-8")
area_df = pd.read_html(area_list)[1]
area_df.head()

,Location,London borough,Post town,Postcode district,Dial code,OS grid ref
0,Abbey Wood,"Bexley, Greenwich [7]",LONDON,SE2,020,TQ465785
1,Acton,"Ealing, Hammersmith and Fulham[8]",LONDON,"W3, W4",020,TQ205805
2,Addington,Croydon[8],CROYDON,CR0,020,TQ375645
3,Addiscombe,Croydon[8],CROYDON,CR0,020,TQ345665
4,Albany Park,Bexley,"BEXLEY, SIDCUP","DA5, DA14",020,TQ478728

#### Property Prices Sample

This is a sample of the property prices retrieved from propertydata.co.uk

In [8]:
property_data_raw = pd.read_html("https://propertydata.co.uk/cities/london",header=0)
property_price_df=pd.DataFrame(data=property_data_raw[0])
property_price_df.head()

  Area Avg yield Avg price £/sqft 5yr +/-  Explore data
0  BR1      3.7%  £434,470   £461    +24%  Explore data
1  BR2      3.4%  £480,252   £468    +25%  Explore data
2  BR3      3.6%  £442,642   £493    +25%  Explore data
3  BR5      3.2%  £462,260   £427    +24%  Explore data
4  BR6      2.9%  £570,996   £465    +25%  Explore data